<link href="style.css" rel="stylesheet">
<body dir="ltr"><script src="UnityProgress.js"></script><script src="UnityLoader.js"></script><script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "totm.json", {onProgress: UnityProgress,Module:{onRuntimeInitialized: function() {UnityProgress(gameInstance, "complete")}}});
    </script><div class="webgl-content">
        <div id="gameContainer" style="width: 100vw; height: 100vh"></div><script src="sizeFix.js"></script>
        </div>