
body {
  background-color: black;
  color: grey;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 90%;
}
#hud {
  font-size: 100%;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#planet {
  margin: auto;
  text-align: center;
  width: 180px;
  height: 180px;
  font: 15px arial, sans-serif;
  color: white;
  background-color: #111;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 50%;
}