/* =================== Import + Root =================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
:root{
	--sel: #E77E7E;
	--bg: #1F2029;
	--fg: #170E1F;
}



/* =================== Main =================== */
body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: var(--bg);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}



/* =================== Update =================== */
#updatePosition {
	position: absolute;
	background-color: transparent;
	display: inline-block;
	bottom: 0px;
	left: 0px;
	height: 96px;
	width: 96px;
}

#update {
	width: 3px;
	height: 3px;
	border-radius: 500em;
	display: inline-block;
	position: absolute;
	bottom: 35%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

#updClickArea {
	z-index: 101;
	width: 16px;
	height: 16px;
	border-radius: 500em;
	display: inline-block;
	position: absolute;
	top: 1.5px;
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
}



/* =================== Tnav =================== */
#nav {
  height: 100%;
  width: 96px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #170E1F;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu-option {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: 0.3s;
  background-color: transparent;
  white-space: nowrap;
}

.menu-space {
  width: 10px;
  display: inline-block;
  background-color: transparent;
}

#toggleNav {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}
#nav a img {
	border-radius: 5px;
}

@media screen and (max-height: 450px) {
  #nav {padding-top: 15px;}
  #nav a {font-size: 18px;}
}



/* =================== Embed bar =================== */
#embedPosition {
	margin: 0px;
	background-color: transparent;
	border-radius: 10px;
	border: none;
	overflow: hidden;
	display: inline-block;
	width: 1050px;
	height: 562px;
	position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#embedArea {
	margin: 0px;
	background-color: var(--fg);
	position: relative;
	height: 100%;
	width: 100%;
	display: inline-block;
}

#embedBarPosition {
	border: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	position: absolute;
	display: inline-block;
	width: 1050px;
	height: 37px;
	bottom: 0px;
	left: 50%;
	-ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: transparent;
}

#embedBar {
	border: none;
	overflow: hidden;
	padding: 0px;
	height: 100%;
	position: relative;
	display: inline-block;
	width: 1050px;
	bottom: 0px;
	left: 50%;
	-ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: var(--fg);
}

#fullscreen {
	border: none;
	width: 30px;
	height: 30px;
	position: absolute;
	-ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 4px;
  top: 50%;
}

#embed {
	background-color: var(--fg);
	height: 525px;
	width: 1050px;
}

#linksPosition {
	margin: 0px;
	border: none;
	height: 30px;
	position: absolute;
	-ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 4px;
  top: 50%;
  background-color: transparent;
  white-space: nowrap;
}

#links {
	margin: 0px;
	border: none;
	height: 30px;
	display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#links a {
	margin: 0px;
	border: none;
	height: 30px;
	display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#links a label {
	text-decoration: none;
	cursor: pointer;
}